<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSPrincipalClass</key>
        <string>TCrCocoaApplication</string>
        <key>CFBundleExecutable</key>
        <string>{{.PList.CFBundleExecutable}}</string>
        <key>CFBundleName</key>
        <string>{{.PList.CFBundleName}}</string>
        <key>CFBundleDisplayName</key>
        <string>{{.PList.CFBundleDisplayName}}</string>
        <key>CFBundleLocalizations</key>
        <array>{{range $i,$value := .PList.CFBundleLocalizations }}
            <string>{{$value}}</string>{{end}}
        </array>
        <key>CFBundleIdentifier</key>
        <string>{{.PList.CFBundleIdentifier}}</string>
        <key>CFBundleVersion</key>
        <string>{{.PList.CFBundleVersion}}</string>
        <key>CFBundleShortVersionString</key>
        <string>{{.PList.CFBundleShortVersionString}}</string>
        <key>CFBundleGetInfoString</key>
        <string>{{.PList.CFBundleGetInfoString}}</string>
        <key>CFBundleIconFile</key>
        <string>{{.PList.CFBundleIconFile}}</string>
        <key>NSHumanReadableCopyright</key>
        <string>{{.PList.NSHumanReadableCopyright}}</string>
        <key>LSUIElement</key>
        <{{.PList.LSUIElement}}/>
        <key>LSMinimumSystemVersion</key>
        <string>{{.PList.LSMinimumSystemVersion}}</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>LSHasLocalizedDisplayName</key>
        <true/>
        <key>NSDarkModeAware</key>
        <true/>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>NSHighResolutionCapable</key>
        <true/>
{{- if .AssociateFiles}}
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeName</key>
                <string>Project File</string>
                <key>CFBundleTypeRole</key>
                <string>Editor</string>
                <key>LSHandlerRank</key>
                <string>Owner</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>com.demo.gproj</string>
                </array>
            </dict>
        </array>
        <key>UTExportedTypeDeclarations</key>
        <array>
            <dict>
                <key>UTTypeIdentifier</key>
                <string>com.demo.gproj</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>gproj</string>
                    </array>
                </dict>
            </dict>
        </array>
{{- end}}
{{- if .AssociateProtocols}}
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>yourapp</string>
                </array>
                <key>CFBundleURLName</key>
                <string>MyApp URL Scheme</string>
            </dict>
        </array>
{{- end}}
    </dict>
</plist>