<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSPrincipalClass</key>
        <string>TCrCocoaApplication</string>
        <key>CFBundleExecutable</key>
        <string>{{.PList.CFBundleExecutable}}</string>
        <key>CFBundleName</key>
        <string>{{.PList.CFBundleName}}</string>
        <key>CFBundleDisplayName</key>
        <string>{{.PList.CFBundleDisplayName}}</string>
        <key>CFBundleLocalizations</key>
        <array>{{range $i,$value := .PList.CFBundleLocalizations }}
            <string>{{$value}}</string>{{end}}
        </array>
        <key>CFBundleIdentifier</key>
        <string>{{.PList.CFBundleIdentifier}}</string>
        <key>CFBundleVersion</key>
        <string>{{.PList.CFBundleVersion}}</string>
        <key>CFBundleShortVersionString</key>
        <string>{{.PList.CFBundleShortVersionString}}</string>
        <key>CFBundleGetInfoString</key>
        <string>{{.PList.CFBundleGetInfoString}}</string>
        <key>CFBundleIconFile</key>
        <string>{{.PList.CFBundleIconFile}}</string>
        <key>NSHumanReadableCopyright</key>
        <string>{{.PList.NSHumanReadableCopyright}}</string>
        <key>LSUIElement</key>
        <{{.PList.LSUIElement}}/>
        <key>LSMinimumSystemVersion</key>
        <string>{{.PList.LSMinimumSystemVersion}}</string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>LSHasLocalizedDisplayName</key>
        <true/>
        <key>NSDarkModeAware</key>
        <true/>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>NSHighResolutionCapable</key>
        <true/>
    {{- $CFBundleIdentifier := .PList.CFBundleIdentifier}}
    {{- if .AssociateFiles}}
        <key>CFBundleDocumentTypes</key>
        <array>
            {{- range .AssociateFiles}}
            <dict>
                <key>CFBundleTypeName</key>
                <string>{{.CFBundleTypeName}}</string>
                <key>CFBundleTypeRole</key>
                <string>{{.CFBundleTypeRole}}</string>
                <key>LSHandlerRank</key>
                <string>{{.LSHandlerRank}}</string>
                <key>LSItemContentTypes</key>
                <array>
                    <string>{{$CFBundleIdentifier}}.{{.CFBundleTypeExtensions}}</string>
                </array>
            {{- if .CFBundleTypeIconFile}}
                <key>CFBundleTypeIconFile</key>
                <string>{{.CFBundleTypeIconFile}}</string>
            {{- end}}
            </dict>
            {{- end}}
        </array>
        <key>UTExportedTypeDeclarations</key>
        <array>
            {{- range .AssociateFiles}}
            <dict>
                <key>UTTypeIdentifier</key>
                <string>{{$CFBundleIdentifier}}.{{.CFBundleTypeExtensions}}</string>
                <key>UTTypeConformsTo</key>
                <array>
                    <string>public.data</string>
                </array>
                <key>UTTypeTagSpecification</key>
                <dict>
                    <key>public.filename-extension</key>
                    <array>
                        <string>{{.CFBundleTypeExtensions}}</string>
                    </array>
                    {{- if .CFBundleTypeMimeType}}
                    <key>public.mime-type</key>
                    <string>{{.CFBundleTypeMimeType}}</string>
                    {{- end}}
                </dict>
            </dict>
            {{- end}}
        </array>
    {{- end}}
    {{- if .AssociateProtocols}}
        <key>CFBundleURLTypes</key>
        <array>
            {{- range .AssociateProtocols}}
            <dict>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>{{.Scheme}}</string>
                </array>
                <key>CFBundleURLName</key>
                <string>{{.Description}}</string>
            </dict>
            {{- end}}
        </array>
    {{- end}}
    </dict>
</plist>