<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSPrincipalClass</key>
        <string>TCrCocoaApplication</string>
        <key>CFBundleExecutable</key>
        <string>{{.PList.Executable}}</string>
        <key>CFBundleName</key>
        <string>{{.PList.BundleName}}</string>
        <key>CFBundleDisplayName</key>
        <string>{{.PList.BundleDisplayName}}</string>
        <key>CFBundleLocalizations</key>
        <array>{{range $i,$value := .PList.Locals }}
            <string>{{$value}}</string>{{end}}
        </array>
        <key>CFBundleIdentifier</key>
        <string>{{.PList.BundleIdentifier}}</string>
        <key>CFBundleVersion</key>
        <string>{{.PList.BundleVersion}}</string>
        <key>CFBundleShortVersionString</key>
        <string>{{.PList.BundleShortVersionString}}</string>
        <key>CFBundleGetInfoString</key>
        <string>{{.PList.Comments}}</string>
        <key>CFBundleIconFile</key>
        <string>{{.PList.Icon}}</string>
        <key>NSHumanReadableCopyright</key>
        <string>{{.PList.Copyright}}</string>
        <key>LSUIElement</key>
        <{{.PList.LSUIElement}}/>
        <key>LSMinimumSystemVersion</key>
        <string>{{.PList.LSMinimumSystemVersion}}/string>
        <key>NSAppTransportSecurity</key>
        <dict>
            <key>NSAllowsArbitraryLoads</key>
            <true/>
        </dict>
        <key>NSDarkModeAware</key>
        <true/>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>*</string>
                </array>
                <key>CFBundleTypeOSTypes</key>
                <array>
                    <string>fold</string>
                    <string>disk</string>
                </array>
            </dict>
        </array>
        <key>NSHighResolutionCapable</key>
        <true/>
    </dict>
</plist>