Package: {{.PackageName}}
Version: {{.Version}}
Section: {{.Section}}
Priority: optional
Architecture: {{.Arch}}
Installed-Size: {{.InstalledSize}}
Depends: {{.Depends}}
Maintainer: {{.Maintainer}}
Homepage: {{.Homepage}}
Description: {{.Description}}
